<a href="https://colab.research.google.com/github/euwalis0n/Estudos-Programacao/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade = int(input('digite a idade do atleta!'))
if(idade < 14):
  print('infantil')

In [5]:
num = [1, 4, 3, 6, 9]

In [6]:
len(num)

5

In [7]:
print(num [0])
print(num [1])
print(num [2])
print(num [3])
print(num [4])

1
4
3
6
9

In [8]:
alunos = ['Walison', 'Renan', 'Rodri', 'Messi', 'Neymar']

In [9]:
len(alunos)

5

In [11]:
#alterar o valores de ítens de lista
alunos[3] = 'Mbape'

In [12]:
alunos.append('Salah')

In [13]:
alunos

['Walison', 'Renan', 'Rodri', 'Mbape', 'Neymar', 'Salah']

In [17]:
#inserir valores na lista .append()
alunos.append(input('digite o nome:'))

digite o nome:Diego

In [18]:
alunos

['Walison',
 'Renan',
 'Rodri',
 'Mbape',
 'Neymar',
 'Salah',
 'Walison',
 'Caio',
 'Miguel',
 'Diego']

In [21]:
 if 'Cr7' in alunos:
  print('tem Cr7 sim')
 else:
   print('tem Cr7 naooo!')

tem Cr7 naooo!

In [23]:
#deletar um item específico da lista de compras
nome = input('digite o nome:')
if nome in alunos:
   print('tem', nome)
else:
   print('nao tem', nome)

digite o nome:Walison
tem Walison

In [27]:
#criar uma lista com numeros de 1 a 15
numeros = []
for num in range(15):
  numeros.append(num)
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [30]:
dobro = []
for num in numeros:
  dobro.append(numeros[num]*2)
dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [37]:
#descobrir se um numero é par
for num in numeros: 
  if numeros[num]%2 == 0:    
    print(numeros [num])

0
2
4
6
8
10
12
14

In [38]:
for num in numeros:
  if numeros[num]%2 == 1:
    print(numeros [num])

1
3
5
7
9
11
13